version: '3.9'

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: loginapp
    volumes:
      - db_data:/var/lib/mysql
    deploy:
      replicas: 1
    networks:
      - webapp

  app:
    image: nginx:latest
    ports:
      - "8081:80"
    volumes:
      - app_data:/usr/share/nginx/html
    deploy:
      replicas: 3
    networks:
      - webapp

volumes:
  db_data:
  app_data:

networks:
  webapp:
    driver: overlay

